<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading ">
        <h3 class="panel-title">Goodbye from cherryEpg</h3>
      </div>
      <div class="panel-body">
        <center>
          <button class="btn btn-info" type="submit" onclick="location.href = '/';">Return to cherryEpg</button>
        </center>
      </div>
    </div>
  </div>
</div>
