<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/favicon.ico" title="Favicon" />
  <link rel="shortcut icon" href="/favicon.ico" title="Favicon" />
  <link rel="/img/favicon-32x32.png" type="image/png" sizes="32x32">
  <link rel="/img/favicon-16x16.png" type="image/png" sizes="16x16">
  <link rel="/img/favicon-96x96.png" type="image/png" sizes="96x96">
  <title>cherryEPG [<% hostname %>] - <% user %></title>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/css/scroller.bootstrap.min.css" rel="stylesheet" />
  <link href="/css/select.bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-slider.min.css" rel="stylesheet" />
  <link href="/css/jquery.json-viewer.css" rel="stylesheet" />
  <!-- Custom style -->
  <link href="/css/app.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>